<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ video.title }} - Mygoad</title>
    <meta name="description" content="{{ video.description }}">
    <meta property="og:title" content="{{ video.title }}">
    <meta property="og:description" content="{{ video.description }}">
    <meta property="og:type" content="video.other">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{{ video.thumbnail_url }}"> <!-- Add thumbnail URL if available -->
    <meta name="keywords" content="{% for tag in video.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">
      <!-- Left side: Text logo -->
      <a id="brand"  class="navbar-brand" href="{% url 'videos:home' %}">My<em>goad</em></a>
  
      <!-- Center: Search box -->
      
      
  
      <!-- Right side: Menu button -->
      <a id="showMenuBtn" class="btn btn-outline-light" href="{% url 'videos:video_list_all' %}">All Videos</a>
    
    </div>
  </nav>


<!-- Side menu -->

<div class="container my-4">
    <form class="search-form" method="get" action="{% url 'videos:home' %}">
        <div class="input-group">
            <input type="text" class="form-control search-input" name="q" placeholder="Search Videos" aria-label="Search" value="{{ search_query|default_if_none:'' }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary search-btn" type="submit">Search</button>
            </div>
        </div>
    </form>

    <div class="video-details-box">
        <video controls>
            {% for resolution in resolutions %}
                {% if resolution.width and resolution.height %}
                    <source src="{{ resolution.video_url }}" type="video/mp4" res="{{ resolution.width }}x{{ resolution.height }}">
                {% else %}
                    <source src="{{ resolution.video_url }}" type="video/mp4">
                {% endif %}
            {% endfor %}
        </video>
       
            <h1>{{ video.title }}</h1>
            <p>{{ video.description }}</p>
           <div class="tag-list">
                <ul>
                    {% for tag in video.tags.all %}
                        <li>{{ tag.name }}</li>
                    {% endfor %}
                </ul>
            </div>
         
    </div>


</div>



<div class="container my-4">
    <h2 class="related">Related Videos</h2>
    <div class="row">
        {% for related_video in related_videos %}
        <div class="col-md-4">
          <div class="video-thumbnail">
              {% if related_video.thumbnail %}
                  <a href="{% url 'videos:video_player' related_video.id %}">
                      <img src="{{ related_video.thumbnail.url }}" alt="{{ related_video.title }}">
                  </a>
                  <p class="video-title">{{ related_video.title }}</p>
                  {% if related_video.duration %}
                  <p class="video-duration"><img src="{% static 'images/clock-icon.png' %}" alt="Clock Icon"> {{ related_video.duration }}</p>
                  {% else %}
                      <p class="video-duration">Duration not available</p>
                  {% endif %}
              {% else %}
                  <p class="video-title">No thumbnail available</p>
              {% endif %}
          </div>
      </div>
        {% endfor %}
    </div>
  </div>

{% if related_videos.has_other_pages %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if related_videos.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ related_videos.previous_page_number }}{% if category %}&category={{ category.id }}{% endif %}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        {% endif %}

        {% for page_num in related_videos.paginator.page_range %}
        {% if page_num == related_videos.number %}
        <li class="page-item ">
            <span class="page-link active">{{ page_num }}</span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}{% if category %}&category={{ category.id }}{% endif %}">{{ page_num }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if related_videos.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ related_videos.next_page_number }}{% if category %}&category={{ category.id }}{% endif %}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Next</span>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

<footer class="footer bg-dark text-light py-3">
        
    <p class="footer-text">© 2024 All Rights Reserved</p>
 
</footer>
<script src="{% static 'js/player.js' %}"></script>
<script src="{% static 'js/menu.js' %}"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script type='text/javascript' src='//pl24182477.cpmrevenuegate.com/f1/ec/ac/f1ecacd7c4ad5b97e6048e01ab89f97a.js'></script>
</body>
</html>
